html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 12px;
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "SimSun";
}

.el-tabs--left .el-tabs__nav-wrap {
  margin-right: -6px;
}

.el-tabs--left .el-tabs__active-bar {
  width: 6px;
  background-color: #5c5c5c;
  /*top: 2px;*/
}

.el-tabs--left .el-tabs__header {
  width: 186px;
}

.el-tabs--left .el-tabs__item {
  height: 52px;
  line-height: 52px;
  text-align: left;
  color: #585858;
  padding: 0px;
  background: #eaeaea;
}

/*.el-tabs--left .el-tabs__item > span {
  display: block;
  width: 100%;
  height: 100%;
}*/

.el-tabs--left .el-tabs__item.is-active {
  background: #ffffff;
}

.el-tabs--top .el-tabs__item {
  width: 63px;
  box-sizing: content-box;
  text-align: center;
  padding: 0px 10px;
  /* margin: 0 20px;*/
  height: 22px;
  line-height: 22px;
  padding-top: 10px;
  border: solid 1px #F2F1F0;
  border-bottom: solid 2px #e4e7ed;
}

.el-tabs--top .el-tabs__item.is-active {
  background-color: #e8e8e8;
  border-radius: 6px 6px 0px 0px;
  border: solid 1px #d0d0d0;
  border-bottom: solid 2px #e4e7ed;
  color: #00c5e2;
}

.el-tabs--top .el-tabs__item.is-active:before {
  height: 4px;
  width: 100%;
  background: #00c5e2;
  content: "";
  position: absolute;
  border-radius: 6px 6px 0px 0px;
  border: solid 1px #00c5e2;
  top: -1px;
  left: -1px;
  display: block;
  z-index: 10;
}

.el-tabs--top .el-tabs__item:nth-child(2) {
  padding-left: 10px;
}

.el-tabs--top .el-tabs__active-bar {
  display: none;
}

.el-tabs--top .el-tabs__item:last-child {
  padding-right: 10px;
}

.el-date-editor.el-input, .el-date-editor.el-input__inner, .el-input--small .el-input__inner, .el-input--small {
  width: 180px;
/*  !*margin-top: 4px;*!
  height: 32px;
  line-height: 32px;*/
}

.el-button {
  padding-top: 8px;
  padding-bottom: 8px;
  vertical-align: top;
}

.el-input--small .el-input__inner {
  line-height: 32px;
}

/*.el-input--small {
  margin-top: 4px;
}*/

.el-table {
  flex-grow: 1;
}

.el-table thead, .el-table thead tr, .el-table thead th {
  background: #d7d5d5;
}

.el-table .cell {
  text-align: center;
}

.el-table td, .el-table th.is-leaf {
  border-color: #b5b4b4;
}

.el-popover{
  padding: 0;
}


/**
  公用样式
 */
.content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
}

.content .body {
  flex-grow: 1;
  display: flex;
  padding: 10px;
  background: white;
  flex-direction: column;
  border: 1px solid #d0d0d0;
}

.content .search-area {
  width: 100%;
}

.content .search-area > span {
  display: inline-block;
  margin-left: 20px;
  height: 32px;
  line-height: 32px;
  margin-top: 4px;
}

.content .search-area .search-button-area {
  margin-top: 4px;
  float: right; /*margin-top: 6px*/
}

.content .table-area {
  display: flex;
  flex-grow: 1;
  margin: 10px 0;
  border: solid 1px #b5b4b4;
}

.body-wrapper {
  width: 1000px;
  margin: auto;
}

.remark {
  height: 20px;
  width: 100%;
  padding: 20px 0;
  font-size: 14px;
  vertical-align: top;
}

.remark .el-breadcrumb__item {
  height: 20px;
  line-height: 20px;
}

.left-time {
  height: 26px;
  padding: 27px 0;
  font-size: 16px;
  position: relative;
}

.left-time .time-icon {
  height: 18px;
  width: 18px;
  margin: 4px;
  display: inline-block;
}

.left-time .info {
  height: 26px;
  line-height: 26px;
  display: inline-block;
  margin-left: 10px;
  color: #5a5a5a;
  vertical-align: top;
}

.left-time .status {
  height: 26px;
  padding: 0 12px;
  border-radius: 12px;
  line-height: 26px;
  display: inline-block;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background: #54c9d7;
  vertical-align: top;
  font-size: 14px;
  cursor: pointer;
}

.title-area {
  width: 100%;
  border-bottom: 1px solid #d0d0d0;
}

.title-area .title {
  display: inline-block;
  position: relative;
  bottom: -1px;
  border-bottom: 3px solid #5c5c5c;
  font-size: 16px;
  color: #5c5c5c;
  height: 40px;
  line-height: 40px;
}

